@font-face {
    font-family: 'Lora-Local';
    src: url('fonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}
@font-face {
    font-family: 'Lota-Local';
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}

body{
    margin: 0px;
    background-color: #FBFFC0;
}

.headerbg{
    height: 350px;
    background-color: #A6906A;
}

.header{
    color: #6D4C2D;
    text-align: center;
    transform: translateY(130px); /*this will move the header text down*/
    font-size: 50px;
    font-family:"Lora-Local", serif;
    margin-top: 0px;
}

.intro{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 35px 0px 0px 35px;
    gap: 20px;
}

.introh2{
    text-align: center;
    margin-bottom: 100px;
}

.text{
    font-size: 20px;
}

.image-text{
    font-family: "Lota-Local", serif;
    font-style: italic;
    font-size: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 35px 35px 0px 35px;
    gap: 30px;
    min-height: 300px;

}

.potato-img{
    display: flex; /*this push the inside of the grid layout into the boxes so they don't leak out*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.grid-img{
    height: 80%;
    width: 80%;
}
.bannertext1{
    transform: translateY(35px); 
    text-align: center;
    font-family: "Lora-Local", serif;
    color: #6D4C2D;
    font-size: 30px;
}

.bannerbg1{
    height: 100px;
    background-color: #A6906A;
}

.alt1{
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 35px 35px 0px 35px;
    gap: 20px;
    min-height: 300px;
}

.alt2{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 35px 35px 35px 35px;
    gap: 20px;
    min-height: 300px;
    background-color: #EBD6B1;
}

.s1image{
    height: 100%;
}

.s1image img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.s1text{
    font-family: "Lota-Local", serif;
}